@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Monoton&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing:border-box;

}
.index-body{ 
    /* background-image: url("/Images/bg-=1.webp");
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;    */
    background-color: #352b2b;
}
label a{
    color: White;
    line-height: 60px;
    padding: 0px 100px 0px 10px;
    font-size: 30px;
    font-family: 'Monoton',cursive;
}
.index-header{
    /* margin: 20px; */
    background-image: url("Images/bg-6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
    opacity: .87;
}
.navbar{
    line-height: 60px;
    width: 100%;
    font-weight: bold;
}

.nav-ul{
    float: right;
    margin-right: 20px;
}
.nav-ul-li{
    display: inline;
    line-height: 40px;
    padding: 0px 25px;

}
nav ul li a{
    color: white;
    font-size: 20px;
    border: 0px;
    padding: 0px 5px;
}

nav ul li a:hover{
    display: inline-block;
    box-shadow:0px 0px 2px 2px #ef233c;
    padding: 0px 5px;
    font-size: 21px;
}
.intro{
       
}
.introduction{
    width: 45%;
    float: left;
    color: white;
    padding-left: 150px;
    padding-top: 150px;
}
.image{
    width: 50%;
    height: 100px;
    float: right;
    padding-top: 80px;
    padding-left: 140px;

}

.this{
    font-size: 30px;
}
.fname{
    font-size: 60px;
}
.student{
    padding-left: 100px;
    color: #f64a8a;
    font-weight: bold;
}
.student a{
    color: white;
    font-weight: bolder;
   text-decoration: underline #ff0000;
}
.btn{
  padding-left: 5px;
  padding-top: 30px;
}
.introduction button{
    color: #ff0000;
    background-color: rgb(0, 0, 0);
    padding: 5px;
    font-size: large;
    border: 0px;
}
.introduction button:hover{
    padding: 6px;
    box-shadow: 2px 4px 8px red;
    color: white;
}
.intro img{
    width: 350px;
    height: 350px;
}
.about{
    /* background-color: rgb(230, 213, 231); */
    padding: 50px;
    
}
.welcome{
    
    font-size: 40px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color:rgb(255, 255, 255);
}
.description{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.021);
}
.description a{
    color: red;
}
.learner{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.030);
}
.learner-p{
    color:#f64a8a;
}
.resume{
    /* background-color: rgb(63, 58, 58); */
}
.resume p{
    color: cyan;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    background-color: rgb(46, 63, 63);
    margin-left: 60px;
    margin-right: 60px;
}
iframe{
padding-left: 300px;

}
.bangladesh{
    padding-left: 130px;
    padding-right: 130px;
}
.qus{
    color: gold;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.030);
}
#image-des{
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: left;
    font-weight: bolder;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.26);

}
.bd-img-3{
    padding-left: 26px;
    padding-right: 0px;
}
.bd-img-3 img{
    height: 300px;
    width: 428px;
}
.bd-img-4{
    padding-left: 17px;
    padding-right: 0px;
}
.bd-img-4 img{
    height: 250px;
    width: 325px;
}
.edu-body{
    
}
.edu-header{
    /* margin: 20px; */
    background-image: url("Images/bg-6.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 650px;
    opacity: .87;
}
.edu{
    color: white;
    font-size: 50px;
    padding-left: 350px;
    padding-top: 200px;

}
.education{
    
}
.education img{
    height: 150px;
    width: 70%;
    padding-left: 400px;
}
.educate img{
    padding-left: 500px;
}
.degree{
    background-color:azure
}
.title{
    color: black;
    font-size: 30px;
    font-weight: bolder;
    padding-left: 20px;
    padding-bottom: 10px;
}
.institute{
    color: rgb(33, 47, 177);
    font-size: 18px;
    font-weight: bolder;
    padding-left: 20px;
    padding-bottom: 7px;
}
.year{
    color: rgb(188, 28, 209);
    font-size: 19px;
    font-weight: bolder;
    padding-left: 20px;
    padding-bottom: 7px;
}
.grade{
    color: rgb(188, 28, 209);
    font-size: 19px;
    font-weight: bolder;
    padding-left: 20px;
    padding-bottom: 7px;
}
.complete{
    color: rgb(129, 75, 75);
    font-size: 35px;
}
.under{
    color: rgb(129, 75, 75);
    font-size: 25px;
    padding-top: 10px;
}
.contact-body{

}
.cont-header{
    /* margin: 20px; */
    background-image: url("Images/bg-6.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 650px;
    opacity: .87; 
}
.contact-title{
    color: white;
    font-size: 60px;
    padding-left: 500px;
    padding-top: 200px;
}
.contact-section{
    
}

.contact-section-div{
    display: flex;
    align-items: center;
    background-color: black;
}
.home{
    width: 2%;
    padding-top: 2px;
    padding-left: 4px;
    color: red;
    
}

.contact-address{
    width: 35%;
    padding-left: 10px;
    padding-top: 20px;
    
}
.present-address{
    font-weight:900;
    font-size: 25px;
    color: red;
    padding: 2px;
}
.address{
    font-weight: 500;
    font-size: 18px;
    color: white;
    padding: 2px;
}
.e-mail-address{
    width: 35%;
   padding-left: 200px;
   padding-top: 20px;
}
.e-mail{
    font-weight:900;
    font-size: 25px;
    color: red;
    padding: 2px;
}
.email{
    font-weight: 500;
    font-size: 18px;
    color: white;
    padding: 2px;
}
.phone{
    color: white;
    font-weight: bold;
    padding: 4px;
}
.message-form{
    width: 40%;
}
.message-form-title{
    font-size: 20px;
    padding-left: 4px;
    padding-bottom: 2px;
    padding-top: 6px;
    padding-bottom: 8px;
    font-weight: 600;
    font-family: poppins,sans-serif;
}
.fields{
    display: flex;
}
form .field, form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
    padding-left: 10px;
}
form .field input, form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.virtual-address{
    margin-left: 42%;
}
.virtual-address a{
    font-size: 30px;
    padding: 15px;
    color: darkblue;
    
}
form .name{
    
}
form .mail{

}
form .textarea{
    height: 80px;
}
form .textarea textarea{
    resize: none;
}
form .msg-button{
    padding-left: 9px;
}
form button{
    color:white ;
    background-color: green;
    padding: 4px;
    font-size: large;
    border: 0;
    border-radius: 3px;
}
.get-in-touch{
    text-align: center;
    font-size: 30px;
    color: red;
    font-weight: bold;
    padding: 5px;
}
footer{
    height:40px;
    background-color: rgb(0, 0, 0);
}
/* footer div{

} */
footer div p{
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
    color:gold;
}
